{% extends "VespolinaSiteBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h1>Blog</h1>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8">
                {% block posts %}
                    {% for post in posts|slice(0,4) %}
                        {% include "VespolinaSiteBundle:Blog:list-post.html.twig" %}
                    {% endfor %}
                {% endblock %}
            </div>
            <div class="span4">
                <h4>Latest</h4>
                <ul>
                {% for post in posts|slice(0,10) %}
                    <li><a href="{{ path(post) }}">{{ post.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
