<p>We are grateful for having following awesome sponsors</p>

<span class="sponsor">
    <a href="http://www.servergrove.com">
        <img src="http://servergrove.com/images/logos/sg160x40_b.png" alt="Servergrove"/>
    </a>
</span>
<span class="sponsor">
    <a href="http://www.beeldspraak.com">
        <img src="http://beeldspraak.com/beeldspraak/img/logo_beeldspraak.png" alt="Developed with" border="0"/></a>
</span>
<span class="sponsor">
    <a href="http://www.jetbrains.com/phpstorm/">
        <img src="http://www.jetbrains.com/img/logos/phpstorm_logo.gif" alt="Developed with" border="0"/></a>
</span>
