$defaultTextColor: #898989;
$bodyBackground: #FFFFFF;
$headerBackground: #f9f9f9;
$introBackground: #1d4b68;
$introTitleColor: #FFF;
$introTextColor: #C5C6D1;
$titleColor: $introBackground;
$defaultLinkColor: #d20078;