html {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bodyBackground;
    margin: 0;
    padding: 0;
    color: $defaultTextColor;
}

/* Custom container */
.container {
    width: 980px;
    min-width: 768px;
    max-width: 100%;
    margin: 0 auto;
}

section[role="heading"] {
    background-color: $headerBackground;
    .logo {
        float: left;
    }
    nav {
        float: right;
        margin-top: 1em;
        li {
            float: left;
            a {
                padding: 3px 10px;
                line-height: 2em;
            }
        }
    }
}

section[role="intro"] {
    height: 465px;
    background-color: $inroBackground;
    .text {
        float: left;
        width: 40%;
        margin-top: 75px;
        color: $introTextColor;
        h1 {
            color: $introTitleColor;
            font-weight: normal;
        }
    }
    .container > img {
        float: right;
        height: 420px;
        position: relative;
        top: 55px;
    }
}

section[role="usp"] {
    height: 265px;
    background: $headerBackground;
    ul {
        list-style: none;
        margin: 25px 0 0 0;

        li {
            float: left;
            width: 20%;
            margin-right: 5%;
            .inner {
                margin: 0 0;
            }
            .top {
                .image {
                    background: transparent url('../img/home-usp-sprite.png') no-repeat;
                    display: block;
                    width:  105px;
                    height: 105px;
                    margin: 0 auto;
                    &.flexible { background-position: 0 0; }
                    &.configurable { background-position: -106px 0; }
                    &.reusable { background-position: -212px 0; }
                    &.expandable { background-position: -319px 0; }
                }
            }
        }
    }
}

section[role="contributors"] {
    .container {
        margin-top: 20px;
        .contributor {
            display: block;
            float: left;
            width: 80px;
            height: 110px;
            margin-right: 20px;
            text-align: center;
            img {
                border-radius: 40px;
            }
        }
    }
}

section[role="info"] {
    margin-top: 2em;
}

.container > hr {
    margin: 60px 0 0 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 80px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .75);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}