html {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bodyBackground;
    margin: 0;
    padding: 0;
    color: $defaultTextColor;
}

/* Custom container */
.container {
    width: 980px;
    min-width: 768px;
    max-width: 100%;
    margin: 0 auto;
}

section[role="heading"] {
    background-color: $headerBackground;
    .logo {
        float: left;
        height: 75px;
        position: relative;
        img {
            position: absolute;
            bottom: 10px;
        }
    }
}

section[role="navigation"] {
    background-color: darken($headerBackground, 20%);
    .container {
        position: relative;
        > ul {
            position: absolute;
            min-height: 50px;
            top: -50px;
            left: 220px; // Depending on logo size
            li {
                list-style: none;
                float: left;
                @include opensans();
                a {
                    padding: 3px 10px;
                    line-height: 2em;
                    color: $defaultTextColor;
                }
                &.current a {
                    color: $introTitleColor;
                }
            }
        }
    }
    .sub {
        display: none;
    }
}

section[role="intro"] {
    height: 465px;
    background-color: $inroBackground;
    .text {
        float: left;
        width: 40%;
        margin-top: 75px;
        color: $introTextColor;
        h1 {
            color: $introTitleColor;
            font-weight: normal;
        }
    }
    .container > img {
        float: right;
        height: 420px;
        position: relative;
        top: 55px;
    }
}

section[role="usp"] {
    height: 265px;
    background: $headerBackground;
    ul {
        list-style: none;
        margin: 25px 0 0 0;

        li {
            float: left;
            width: 20%;
            margin-right: 5%;
            .inner {
                margin: 0 0;
            }
            .top {
                .image {
                    background: transparent url('../img/home-usp-sprite.png') no-repeat;
                    display: block;
                    width:  105px;
                    height: 105px;
                    margin: 0 auto;
                    &.flexible { background-position: 0 0; }
                    &.configurable { background-position: -106px 0; }
                    &.reusable { background-position: -212px 0; }
                    &.expandable { background-position: -319px 0; }
                }
            }
        }
    }
}

section[role="contributors"] {
    .container {
        margin-top: 20px;
    }
}

section[role="info"] {
    margin-top: 2em;
}

section[role="content"] {
    padding-top: 24px;
    min-height: 240px;
    &.home {
        padding-top: 0;
    }
}

.contributor {
    display: block;
    float: left;
    width: 80px;
    height: 110px;
    margin-right: 20px;
    text-align: center;
    img {
        border-radius: 40px;
    }
}

.container > hr {
    margin: 60px 0 0 0;
}