@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import 'colors';
@import 'layout';
@import 'typography';

.switcher {
    width: 220px;
    p {
        float: left;
    }
    ul {
        list-style: none;
    }
    li {
        float: left;
        padding: 0 0.75em;
    }
}

.contributor {
    margin-right: 0.5em;
}