{% extends 'VespolinaSiteBundle:Page:default.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="container">
        <h3>{% trans %}Contributors{% endtrans %}</h3>
        {% include 'VespolinaSiteBundle:Default:_contributors.html.twig' %}
    </div>
{% endblock %}