{% extends 'VespolinaSiteBundle:Page:default.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="container">
        <h3>{% trans %}Contributors{% endtrans %}</h3>
        <div class="row-fluid">
            <div class="span8">
                {% include 'VespolinaSiteBundle:Default:_contributors.html.twig' %}
            </div>
            <div class="span4">
                <a class="twitter-timeline" href="https://twitter.com/vespolina" data-widget-id="377901884654104576">Tweets by @vespolina</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
{% endblock %}