{% extends 'VespolinaSiteBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ cmfMainContent.title }}</h1>
    {{ cmfMainContent.body|raw }}

    {% if cmfMainContent.additionalInfoBlock %}
        {{ sonata_block_render(cmfMainContent.additionalInfoBlock) }}
    {% endif %}
{% endblock %}