{% extends 'VespolinaSiteBundle::layout.html.twig' %}

{% set isHomepage = false %}

{% block content %}
    <section role="usp">
        <div class="container">
            <div class="span8">
                <ul>
                    <li class="item">
                        <div class="top">
                            <span class="image configurable">&nbsp;</span>
                        </div>
                        <div class="inner">
                            <h3>Read about the project goals</h3>
                            <p>As a business owner we invite you to read about <a href="/features/why-using-vespolina">why using Vespolina</a></p>
                            <p>Are you keen to learn about the technical architecture and how you can hack it?  Read about it <a href="/features/technical-architecture">over here.</a></p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="top">
                            <span class="image flexible">&nbsp;</span>
                        </div>
                        <div class="inner">
                            <h3>Checkout Github</h3>
                            <p>All our code is having an MIT license and can be freely used</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="span4">
                Quick start


            </div>
        </div>

    </section>

    <section role="info">
        <div class="container">
            <div class="row-fluid">
                {% if cmfMainContent.additionalInfoBlock and cmfMainContent.additionalInfoBlock.children %}
                    {% for childBlock in cmfMainContent.additionalInfoBlock.children %}
                        <article class="span6">
                            <h3>{{ childBlock.title }}</h3>
                            {{ childBlock.content|raw }}
                            {% if childBlock.settings.route is defined %}
                                <p><a class="btn" href="{{ path(childBlock.settings.route) }}">View details &raquo;</a></p>
                            {% endif %}
                        </article>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <div class="container">
        <hr class="line"/>
    </div>


{% endblock %}